.login-Background{
  background-image: url("https://images.pexels.com/photos/259588/pexels-photo-259588.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 790px;

  .login-form {
    background-color: #1b232ebd;
    width: 100%;
  }
  
  .login-btn:hover{
    background-color:  rgb(37, 37, 37);
    color: white;
  }
  .forgot-password a{
    color: white;
  }
  
}

/*#############FORM LOGIN###################*/
.login-form{
  padding: 20px;

  .forgot-password{
    display: flex;
    justify-content: flex-end;
  }
  .login-form a{
    text-align: right;
    color: white;
  }
  .login-button{
    width: 100%;
  }
  .login-button:hover{
    background-color:  rgb(37, 37, 37);
    color: white;
  }
}


